<% @average_time_correct_incorrect = @paper.average_time_correct_incorrect %>
<div class="row report-section-container avg-time-correct-incorrect">
  <div class="col-sm-12">
    <div class="report-section-container-inner">
      <div class="report-section-heading">average time per correct/incorrect response</div>
      <div class="report-section-content">
        <div class="row">
          <% avg_time_correct = ("%02d" % @average_time_correct_incorrect[:data][0][4]) + ":" + ("%02d" % @average_time_correct_incorrect[:data][0][5]) %>
          <div class="col-sm-3">
            <div class="content">
              <div class="box-3">
                <div>Correct Response</div>
                <div>
                  <div class="color-green">
                    <div class="text-s-5">
                      <%= avg_time_correct %>
                    </div>
                    <div class="text-s-1">
                      Mins
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-3">
                <div>Incorrect Response</div>
                <div>
                  <div class="color-g-orange">
                    <div class="text-s-5">
                      <%= ("%02d" % @average_time_correct_incorrect[:data][1][4]) + ":" + ("%02d" % @average_time_correct_incorrect[:data][1][5]) %>
                    </div>
                    <div class="text-s-1">
                      Mins
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="graph-content">
              <div id="avg-time-per-correct-incorrect-graph" style="height: 350px; background-color: transparent;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
