<div class="row report-section-container avg-time-per-set">
  <div class="col-sm-12">
    <div class="report-section-container-inner">
      <div class="report-section-heading">average time per question (set-wise)</div>
      <div class="report-section-content">
        <div class="row">
          <div class="col-sm-3">
            <div class="content">
              <% section_name = ["I", "II", "III", "IV"] %>
              <% @average_time_per_question.each_with_index do |dt, inx| %>
                <% sec_name = section_name[inx] %>
                <% sec_correct_data = dt %>
                <div class="box-3">
                  <div>Set <%= sec_name %></div>
                  <div>
                    <div>
                      <div class="text-s-5">
                        <%= sec_correct_data["data"][0][:avg_time].gsub(" Minutes", "") %>
                      </div>
                      <div class="text-s-1">
                        Mins
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="graph-content">
              <div class="row">
                <% @average_time_per_question.each do |section_data| %>
                  <% sec_name_id = section_data["section_name"].split(" ").join("-") %>
                  <div class="col-sm-3">
                    <div id="avg-time-per-question-graph-<%= sec_name_id %>" style="height: 220px; background-color: transparent;"></div>
                    <div class="font-14 text-center bold">
                      <%= section_data["data"][0][:avg_time] %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
