<div class="row report-section-container section-correct-incorrect">
  <div class="col-sm-12">
    <div class="report-section-container-inner">
      <div class="report-section-heading">sub-section performance</div>
      <div class="report-section-content">
        <div class="row">
          <div class="col-sm-9">
            <div class="graph-content">
              <div class="row">
                <% @section_correct_incorrect_data.each do |section_data| %>
                  <% sec_name_id = section_data["section_name"].split(" ").join("-") %>
                  <div class="col-sm-4">
                    <div id="section-correct-incorrect-graph-<%= sec_name_id %>" style="height: 180px; background-color: transparent;"></div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="content">
              <% text_arr = [] %>
              <% @section_correct_incorrect_data.each do |dt| %>
                <% sec_name = dt["section_name"] %>
                <% sec_correct_data = ( 
                  ((dt["data"].detect{|dt| dt[:name] == "Correct"}[:y] * 1.0) / (sec_name == Category::PASSAGE ? 13 : 14)) * 100) %>
                <div class="box-3">
                  <div><%= sec_name %></div>
                  <div>
                    <div class="text-s-5">
                      <%= sec_correct_data.round %><span class="percent-text">%</span>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
