<style type="text/css">
  .exit-title{
    font-size: 18px;
    color: #2196f3;
    font-weight: 600;
    font-family: "LatoRegular";
  }
</style>
<div class="modal fade" id="exit-modal-1" tabindex="-1" role="dialog" aria-labelledby="exit-modal-label-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="exit-title">
          Before you Go
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      </div>
      <div class="modal-body">
        
      </div>
    </div>
  </div>
</div>