<% if notice || alert %>
  <div class="row margin-b-10">
    <div class="col-sm-12 relative padding-l-30 padding-r-30">
      <% if notice %>
        <div class="notice alert alert-success  width-100 margin-t-10"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-success  width-100  margin-t-10"><%= alert %></div>
      <% end %>
    </div>
  </div>
<% end %>