<tbody>
    <% object_class = @objects.klass %>
    <% @objects.each do |object| %>
      <tr>
        <% object_class.index_columns.each do |db_column_name, column_name| %>
          <td id="td-<%= db_column_name %>">
            <%= object.send(db_column_name.to_sym) %>
          </td>
        <% end %>
        <% if object_class.respond_to?(:index_actions) %>
          <td>
            <% object_class.index_actions.each do |action_name, action_info| %>
              <% next if action_name == "new" %>
              <%= render_index_action(action_name, action_info, object_class, object) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
</tbody>
