<%= render_index_action("new", @objects.klass.index_actions["new"], @objects.klass) %>
<table class="table table-bordered table-striped">
  <%= render "shared/thead" %>
  <%= render "shared/tbody" %>
</table>