<div class="row margin-b-5">
  <div class="col-sm-12">
    <%= render_index_action("new", @objects.klass.index_actions["new"], @objects.klass, nil, {class: 'btn btn-success'}) %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered table-striped">
      <%= render "shared/thead" %>
      <%= render "shared/tbody" %>
    </table>
  </div>
</div>