<div class="heading-part">
  <div class="heading">
    <span>
      Ready to take on the GMAT?
    </span>
  </div>
  <!--div class="sub-heading">
    One of the most reliable online verbal GMAT tests. More than 3000 tests taken.
  </div-->
</div>
<div class="content-part">
  <div class="row">
    <div class="col-sm-12">
      <div class="row content-row">
        <div class="col-sm-12">
          <div class="content-box">
            <div class="content-box-inner">
              <div class="row">
                <div class="col-sm-4">
                  <div class="content-image content-image-1">
                    <%= image_tag "overview/stopwatch.png", alt: "stopwatch", width: "50%" %>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="content-heading content-heading-1 ch-right">
                    Take GMAT verbal practice tests under timed condition and get complete score report with visual graphics to know your performance.
                  </div>
                  <div class="content-text text-justify ct-right">
                    Are you still using stop watch to know the average time you take to answer a reading comprehension question? Not sure how you will perform on the test day? If your GMAT exam is nearby, GMATRIC is the right platform to know what you are going to score.

                    GMATRIC checks your capabilities and provides the most realistic feedback of your performance. Don’t expect a miracle on the test day. Learn from your Detailed Score Report. Keep learning. Keep improving.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row content-row">
        <div class="col-sm-12">
          <div class="content-box">
            <div class="content-box-inner">
              <div class="row">
                <div class="col-sm-8">
                  <div class="content-heading  content-heading-2 ch-left">
                    Unique Computer Adaptive tests to accurately measure your verbal ability.
                  </div>
                  <div class="content-text text-justify ct-left">
                    Designed by 99 percentile verbal scorers, the algorithm tests your verbal ability accurately. Not sure about the accuracy of the test? Take the free GMATRIC test today and see how close your score is to the GMATprep verbal score. 
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="content-image content-image-2">
                    <%= image_tag "overview/accurate_score.png", alt: "accurate_score", width: "50%" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row content-row">
        <div class="col-sm-12">
          <div class="content-box">
            <div class="content-box-inner">
              <div class="row">
                <div class="col-sm-4">
                  <div class="content-image content-image-3">
                    <%= image_tag "overview/official_questions.png", alt: "official_questions", width: "50%" %>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="content-heading content-heading-3 ch-right">
                    Question from the GMATprep software
                  </div>
                  <div class="content-text text-justify ct-right">
                    Only selected free GMATprep questions make it in our question bank. The official question bank guarantees that your test experience is as close to the GMAT verbal section as possible. However, we do not claim ownership of the questions, neither do we charge for the questions. GMATRIC gives you a platform to make the best use of free GMATprep questions by allowing you to test the official questions under real exam like conditions.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row content-row">
        <div class="col-sm-12">
          <div class="content-box">
            <div class="content-box-inner">
              <div class="row">
                <div class="col-sm-8">
                  <div class="content-heading content-heading-4 ch-left">
                    Detailed Score Report
                  </div>
                  <div class="content-text text-justify ct-left">
                    What would be the use of a practice test, if it doesn’t tell you the areas where you need improvement. Our Detailed score report analyzes your performance and gives you the data to find your weak spots. DSR is one of the most effective tool available to improve your verbal performance.
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="content-image content-image-4">
                    <%= image_tag "overview/score_report.gif", alt: "score_report", width: "50%" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>