<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= gmat_trademark %> is a registered trademark of the Graduate Management Admission Council. The Graduate Management Admission Council does not endorse, nor is it affiliated in any way with the owner or any content of this web site.
  </div>
</div>