<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center">Gmatric Prep</h3>
    <div class="row">
      <div class="col-sm-12">
        <div>
          Improve your GMAT score.
        </div>
        <div>
          Take GMAT verbal practice tests under timed condition and get complete score report wich visual graphics to know your ups and downs.
        </div>
        <div>
          One of the most reliable online verbal GMAT tests. More than 3000 tests taken.
        </div>
      </div>
    </div>
    <div>
      So finally, you are here. That means you must have gone though that pain of preparing for GMAT test is a very hectic task, using stop watch before starting each question and stopping it when you answer, calculating overall time it took to finish a question or the whole test. Secondly choosing the next question, as it depends upon how you performed in previous one, which is only possible when you look at the correct answer of the question, which also consumes some time. Also it affects your mental level when you know you have correctly or incorrectly answered a question, which would not be the case when you are attempting actual GMAT exam. Thirdly analysing your overall performance after attempting a complete test will also be a pain in ass.
    </div>
    <div>
      No worries, this application is designed and dedicated to solve your problem, as it provides you a timed environment similar to actual <%= gmat_trademark %> test, so that you don't have to use stopwatch. It captures your performance with each question answered by you at that same time, and generates a proper analytical report for you at the end, which will be very useful to see where are you doing good and at which places you need to work upon.
    </div>
    <div>
      Unique Computer Adaptive tests to accurately measure your verbal ability.
    </div>
    <div>
      Designed by 99 percentile verbal scorers, the algorithm tests your verbal ability accurately. Not sure about the accuracy of the test? Take the free GMATRIC test today and see how close your score is to the GMATprep verbal score. 
    </div>

    <div>
      Question from the GMATprep software
    </div>
    <div>
      Only selected free GMATprep questions make it in our question bank. The official question bank guarantees that your test experience is as close to the GMAT verbal section as possible. However, we do not claim ownership of the questions, neither do we charge for the questions. GMATRIC gives you a platform to make the best use of free GMATprep questions by allowing you to test the official questions under real exam like conditions. 
    </div>

    <div>
      Detailed Score Report
    </div>
    <div>
      What is the use of a practice test, if it doesn’t tell you the areas where you need improvement. Our Detailed score report analyze your performance in the test exam and gives you the data to find your weak spot. DSR is one of the most effective tool available to improve your verbal performance.
    </div>
    <div>
      Money back guarantee
    </div>
    <div>
      If your GMAT verbal score is not within 2 points range of the mean GMATRIC verbal test scores, you get your money back. No questions asked.
    </div>
    <div>
      Only one shot
    </div>
    <div>
      You can give the GMATRIC test one time only. Make sure it counts.
    </div>
  </div>
</div>
