<div class="row">
  <div class="col-sm-12">
    <div class="welcome-msg">
      You don’t have any ongoing tests
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="start-test-btn">
      <%= link_to buy_new_path do %>
        Buy more tests
      <% end %>
    </div>
  </div>
</div>