<div class="candidate-content">
  <div class="row">
    <div class="col-sm-12">
      <div class="welcome-text">Wellcome to GMATRIC</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="welcome-msg">
        Are you ready to assess the level of your verbal preparation for GMAT? Take a free test to see how you perform.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="start-test-btn">
        <%= link_to start_test_path("start", "free") do %>
          Start your free test
        <% end %>
      </div>
    </div>
  </div>
</div>