<div class="row padding-t-50">
  <div class="col-sm-12">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <td>Email</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= user.email %>
            </td>
            <td>
              <%= link_to "Delete all tests", destroy_tests_path(user.id), class: "btn btn-xs btn-danger", remote: true, method: "delete", data: {confirm: 'Are you sure?'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>