development:
  :host: localhost
  :port: 8086
  :username: test
  :password: test
  :time_precision: ms
  :async: true
  :retry: 4
test:
  :host: localhost
  :port: 8086
  :username: test
  :password: test
  :time_precision: ms
  :async: true
  :retry: 4
production:
  :host: localhost
  :port: 8086
  :username: test
  :password: test
  :time_precision: ms
  :async: true
  :retry: 2
staging:
  :host: localhost
  :port: 8086
  :username: test
  :password: test
  :time_precision: ms
  :async: true
  :retry: 4