# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f2bb1666302a630384991e0105fd6d501c7e25b5c68a30a82baa824e1d939a2e92e650dec4f8527edf08458cc90d37b7c0bb0773d85e65d62e38a46652006f1a

test:
  secret_key_base: 78089d105e736428a9f1fb415246fd61007079f5fbd26a502adaa56499bd14e9b403683760967c9dbc0ebf87eaf9418899314b7ea69126d6c1737fc54b36979f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
