<div class="col-sm-6 col-md-6 padding-10 passage-question-left">
  <%= @paper_question.question.passage.description.html_safe %>
</div>
<div class="col-sm-6 col-md-6 passage-question-right">
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-12">
      <div class="margin-b-10">
        <%= @paper_question.question.question_text.html_safe %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-12">
      <% @paper_question.question.options.each do |option| %>
        <div class="width-100 inline-block">
          <div class="pull-left">
            <%= f.radio_button :option_id, option.id, checked: (option.correct && (Rails.env.development? || current_user.is_manish? || current_user.is_admin?)), style: 'margin-top: 0px !important; margin-right: 0px !important; vertial-align: 0px !important;' %>
          </div>
          <div class="option-container passage-option-container">
            <%= option.description.html_safe %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
