<div class="row height-100" style="padding-top: 61px;">
  <div class="col-sm-6 height-100" style="border-right: 20px solid #66B9BF; overflow: scroll;">
    <%= @paper_question.question.passage.description.html_safe %>
  </div>
  <div class="col-sm-6 height-100" style="padding-left: 30px; overflow: scroll;">
    <div class="row">
      <div class="col-sm-12">
        <%= @paper_question.question.question_text.html_safe %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <% @paper_question.question.options.each do |option| %>
          <div class="form-group">
            <label class="radio-inline">
              <%= f.radio_button :option_id, option.id %><span style="display: inline-block; margin-top: -12px;"><%= option.description.html_safe %></span>
            </label>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
