<div class="row">
  <div class="col-sm-12">
    <div class="bg-white container-fluid" style="min-height: 460px;">
      <div class="row">
        <div class="col-sm-6">
          <%= @paper_question.question.passage.description.html_safe %>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12">
              <%= @paper_question.question.question_text.html_safe %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="container-fluid">
                <% @paper_question.question.options.each do |option| %>
                  <div class="form-group">
                    <label class="radio-inline">
                      <%= f.radio_button :option_id, option.id %><%= option.description.html_safe %>
                    </label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>