<div class="col-sm-12 col-xs-12 col-md-12 height-100" style="overflow-y: scroll;">
  <div class="bg-white">
    <div class="row">
      <div class="col-sm-12 col-xs-12 col-md-12">
        <%= @paper_question.question.question_text.html_safe %>
      </div>
    </div>
    <div class="row" style="margin-left: 0px;">
      <div class="col-sm-12 col-xs-12 col-md-12">
        <% @paper_question.question.options.each do |option| %>
          <div class="form-group">
            <label class="radio-inline">
              <%= f.radio_button :option_id, option.id, checked: (option.correct && (Rails.env.development? || current_user.is_manish?)) %>
              <span style="display: inline-block; margin-top: -1px;"><%= option.description.html_safe %></span>
            </label>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>