<div class="col-sm-12 col-xs-12 col-md-12 height-100" style="overflow-y: scroll;">
  <div class="bg-white">
    <div class="row">
      <div class="col-sm-12 col-xs-12 col-md-12">
        <%= @paper_question.question.question_text.html_safe %>
      </div>
    </div>
    <div class="row" style="margin-left: 0px;">
      <div class="col-sm-12 col-xs-12 col-md-12">
        <% @paper_question.question.options.each do |option| %>
          <div class="width-100 inline-block" style="margin-top: 8px;">
            <div class="pull-left">
              <%= f.radio_button :option_id, option.id, checked: (option.correct && (Rails.env.development? || current_user.is_manish?)), style: "margin-top: 0px !important; margin-right: 0px !important; vertial-align: 0px !important;" %>
            </div>
            <div class="padding-l-30">
              <%= option.description.html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>