<div class="row">
  <div class="col-sm-12 padding-t-10 padding-b-10">
    <b class="color-white padding-l-5">Test Exam 1</b>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="bg-light-blue padding-5">
      <a class="btn btn-xs btn-primary" href="#">Check Answer</a>
      <a class="btn btn-xs btn-primary" href="#">Show Answer</a>
      <a class="btn btn-xs btn-primary pull-right" href="#">Flag for review</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="bg-white" style="min-height: 460px;">
      
    </div>
  </div>
</div>
<div class="row" style="bottom: 0px;">
  <div class="col-sm-12">
    <div class="bg-light-blue padding-5">
      <a class="btn btn-xs btn-primary" href="#">Check Answer</a>
      <a class="btn btn-xs btn-primary" href="#">Show Answer</a>
      <a class="btn btn-xs btn-primary pull-right" href="#">Flag for review</a>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-sm-12 bg-blue padding-b-15">
    <div class="row">
      <div class="col-sm-12 padding-t-10 padding-b-10">
        <b class="color-white">Test Exam 1</b>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="bg-light-blue padding-5">
          <a class="btn btn-primary" href="#">Check Answer</a>
          <a class="btn btn-primary" href="#">Show Answer</a>
          <a class="btn btn-primary pull-right" href="#">Flag for review</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="bg-white">
          
        </div>
      </div>
    </div>
    <div class="row" style="bottom: 0px;">
      <div class="col-sm-12">
        <div class="bg-light-blue padding-5">
          <a class="btn btn-primary" href="#">Check Answer</a>
          <a class="btn btn-primary" href="#">Show Answer</a>
          <a class="btn btn-primary pull-right" href="#">Flag for review</a>
        </div>
      </div>
    </div>
  </div>
</div> -->