<div class="row" style="margin-top: 50px;">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="well">
      Thank you for your payment. Your transaction has been completed, and a receipt for your purchase has been emailed to you. You may log into your account at www.paypal.com to view details of this transaction.
      <%= link_to root_url, class: "Start your subscription" %>
    </div>
  </div>
</div>