.form-horizontal .radio-inline{
  padding-top: 0px;
}

.outline-1{
  outline: 1px solid #fff;
}

.height-100{
  height: 100%;
}

.no-margin-left-right{
  margin-left: 0px;
  margin-right: 0px;
}

p, span{
  line-height: 1.5 !important;
  margin: 0px;
}

p[style], span[style], ul[style], li[style], div[style]{
  font-size: 15.5px !important;
  font-family: Tahoma !important;
}

.accordion-control{
  cursor: pointer;
}

body, html {
  height: 100%;
  font-size: 15px;
  line-height: 1.3;
}

.margin-b-5{
  margin-bottom: 5px;
}

.question-box{
  height: auto;
  margin-top: 20px;
  min-height: 565px;
}

.option-box{
}

.navbar{
  margin-bottom: 0px;
  border-radius: 0 !important;
}

.pagination{
  margin: 10px 0px;
}

label{
  font-weight: normal;
}

.btn{
  border-radius: 0;
}

.form-group{
  margin-bottom: 2px !important;
}
