.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.alert{
  padding: 4px 6px;
  margin-bottom: 10px;
}

.padding-r-30{
  padding-right: 30px;
}

.justify{
  text-align: justify;
}

.box-shadow-none{
  box-shadow: none !important;
}
.height-100{
  height: 100%;
}
.width-100{
  width: 100%;
}

.bold{
  font-weight: bold;
}
.color-green{
  color: #29d42c;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.padding-15{
  padding: 15px;
}

.padding-l-20{
  padding-left: 20px;
}

.padding-l-30{
  padding-left: 30px;
}

.padding-r-20{
  padding-right: 20px;
}

.padding-b-20{
  padding-bottom: 20px;
}

.padding-b-100{
  padding-bottom: 100px;
}

.padding-t-20{
  padding-top: 20px;
}

.padding-20{
  padding: 20px;
}
.height-200px{
  height: 200px;
}
.padding-10{
  padding: 10px;
}

.padding-t-10{
  padding-top: 10px;
}

.padding-b-10{
  padding-bottom: 10px;
}

.padding-l-10{
  padding-left: 10px;
}

.padding-r-10{
  padding-right: 10px;
}

.padding-5{
  padding: 5px;
}

.padding-t-5{
  padding-top: 5px;
}

.border-t-0{
  border-top: 0px !important;
}

.padding-b-5{
  padding-bottom: 5px;
}

.padding-l-5{
  padding-left: 5px;
}

.padding-r-5{
  padding-right: 5px;
}

.padding-t-50{
  padding-top: 50px;
}

.padding-t-60{
  padding-top: 60px;
}

.padding-t-64{
  padding-top: 64px;
}

.padding-t-70{
  padding-top: 70px;
}

.padding-t-80{
  padding-top: 80px;
}

.padding-t-100{
  padding-top: 100px;
}
.font-12{
  font-size: 12px;
}

.font-18{
  font-size: 18px;
}

.font-16{
  font-size: 16px;
}
.bold{
  font-weight: bold;
}
.font-20{
  font-size: 20px;
}

.font-24{
  font-size: 24px;
}

.font-28{
  font-size: 28px;
}

.font-30{
  font-size: 30px;
}

.font-34{
  font-size: 34px;
}

.padding-t-30{
  padding-top: 30px;
}

.padding-15{
  padding: 15px;
}
.padding-t-15{
  padding-top: 15px;
}

.padding-b-15{
  padding-bottom: 15px;
}
.margin-t-22{
  margin-top: 22px;
}
.margin-t-12{
  margin-top: 12px
}
.margin-b-10{
  margin-bottom: 10px;
}
.margin-t-10{
  margin-top: 10px;
}

.bg-blue{
  background-color: #016DAF;
}
.bg-light-blue{
  background-color: #66B9BF;
}

.bg-white{
  background-color: #ffffff;
}

.color-white{
  color: #fff;
}

.border-20{
  border: 20px solid;
}

.relative{
  position: relative;
}

.border-l-20{
  border-left: 20px solid;
}

.border-r-20{
  border-right: 20px solid;
}

.border-l-40{
  border-left: 40px solid;
}

.border-r-40{
  border-right: 40px solid;
}

.border-l-150{
  border-left: 150px solid;
}

.border-r-150{
  border-right: 150px solid;
}

.border-l-100{
  border-left: 100px solid;
}

.border-r-100{
  border-right: 100px solid;
}

.border-b-1{
  border-bottom: 1px solid;
}

.border-color-light-gray{
  border-color: #aeaeae;
}

.border-b-60{
  border-bottom: 60px solid;
}

.border-color-blue{
  border-color: #016DAF;
}

.inline-block{
  display: inline-block;
}


