// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.left-panel{
  font-family: 'LatoWebBlack', sans-serif;
  margin-top: 83px;
  color: #444;
  .main-text{
    color: #1b5769;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.5px;
  }
  ul{
    padding-left: 0px;
    margin-top: 10px;
    list-style-type: none;
    li{
      font-size: 16px;
      padding-top: 2px;
      padding-bottom: 2px;
      letter-spacing: 2px;
    }
  }
}

.right-panel{
  font-family: 'LatoWebBlack', sans-serif;
  margin-top: 90px;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.login-form{
  font-family: 'LatoWebBlack', sans-serif;
  letter-spacing: 1.2px;
  border: 1px solid #cdcdcd;
  position: relative;
  padding: 40px;
  padding-top: 40px;
  width: 300px;
  margin-left: 30px;
  color: #000;
  min-height: 350px;
  a{
    color: #000;
  }
  input[type='submit']{
    min-width: 150px;
    letter-spacing: 1.2px;
  }
  input[type='text']{
    background-color: #fff !important;
    &:focus{
      background-color: #fff !important;
    }
  }

  input[type='password']{
    margin-top: 30px;
    background-color: #fff !important;
    &:focus{
      background-color: #fff !important;
    }
  }

  .shared-links{
    position: absolute;
    bottom: 30px;
    letter-spacing: 1.2px;
    a{
      display: inline-block;
      margin-top: 5px;
    }
  }
}