@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap_overrides";
@import "common";

@font-face {
  font-family: 'LatoThin';
  src: font-url('lato/thin/Lato.eot');
  src: font-url('lato/thin/Lato.eot?iefix') format('eot'),
      font-url('lato/thin/Lato.woff') format('woff'),
      font-url('lato/thin/Lato.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoBlack';
  src: font-url('lato/black/Lato.eot');
  src: font-url('lato/black/Lato.eot?iefix') format('eot'),
      font-url('lato/black/Lato.woff') format('woff'),
      font-url('lato/black/Lato.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoRegular';
  src: font-url('lato/regular/Lato.eot');
  src: font-url('lato/regular/Lato.eot?iefix') format('eot'),
      font-url('lato/regular/Lato.woff') format('woff'),
      font-url('lato/regular/Lato.ttf') format('truetype');
}


@font-face {
  font-family: 'LatoLight';
  src: font-url('lato/light/Lato.eot');
  src: font-url('lato/light/Lato.eot?iefix') format('eot'),
      font-url('lato/light/Lato.woff') format('woff'),
      font-url('lato/light/Lato.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoMedium';
  src: font-url('lato/light/Lato.eot');
  src: font-url('lato/light/Lato.eot?iefix') format('eot'),
      font-url('lato/light/Lato.woff') format('woff'),
      font-url('lato/light/Lato.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoBold';
  src: font-url('lato/bold/Lato.eot');
  src: font-url('lato/bold/Lato.eot?iefix') format('eot'),
      font-url('lato/bold/Lato.woff') format('woff'),
      font-url('lato/bold/Lato.ttf') format('truetype');
}


.login-form{
  font-family: 'LatoRegular';
  padding-top: 16px;
  padding-bottom: 16px;
  .form-group{
    margin-left: 4px;
    margin-right: 4px;
  }
  input{
    height: 28px;
    padding: 6px 4px;
    font-size: 14px;
    border: solid 1px #7b7b7b;
    background-color: none;
    box-shadow: 0px;
    border-radius: 2px;
    width: 190px !important;
  }
  button[type="submit"]{
    height: 28px;
    padding: 3px 8px;
    font-size: 14px;
    border: none;
    color: #fff;
    background-color: none;
    box-shadow: 0px;
    border-radius: 2px;
    background-color: #2196f3;
    width: 80px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-left: 4px;
  }
}

.home-container{
  .right-box{
    .signup-form{
      border: solid 1px #e4e4e4;
      padding: 23px 24px;
      .top-text{
        font-family: 'LatoMedium';
        font-weight: 900;
        letter-spacing: 1px;
        color: #7b7b7b;
        margin-bottom: 16px;
        text-align: center;
      }
      div.input-container{
        input{
          font-family: 'LatoRegular';
          background-color: #ffffff;
          border: solid 1px #e4e4e4;
          width: 100%;
          padding: 8px 6px;
          font-size: 14px;
          line-height: 18px;
          border-radius: 2px;
        }
        margin-bottom: 16px;
      }
      div.submit-container{
        button{
          font-family: 'LatoMedium';
          font-weight: 800;
          font-size: 15px;
          letter-spacing: 1px;
          width: 100%;
        }
      }
    }
  }
  margin-top: 30px;
  .left-box{
    border-right: solid 1px #b2b2b2;
    min-height: 403px;
  }
  .heading-text{
    font-family: 'LatoMedium';
    font-size: 32px;
    width: 520px;
    color: #4990e2;
    text-align: left;
    font-weight: 500;
  }
  .heading-points{
    margin-top: 16px;
    ul{
      list-style-type: none;
      padding-left: 0px;
      li{
        font-family: 'LatoMedium';
        font-size: 18px;
        color: #4e4e4e;
        width: 280px;
        line-height: 1;
        margin-bottom: 20px;
      }
    }
  }
  .furious-text{
    font-family: 'LatoLight';
    color: #4e4e4e;
    margin-bottom: 16px;
  }
  .social-btn{
    font-family: 'LatoRegular';
    margin-bottom: 16px;
    .top-text{
      font-size: 16px;
      line-height: 14px;
      padding-top: 11px;
      padding-left: 50px;
      letter-spacing: 1px;
    }
    .bottom-text{
      padding-top: 2px;
      font-size: 10px;
      line-height: 10px;
      padding-left: 50px;
      letter-spacing: 1px;
    }
    &.fb-btn{
      background-color: #3b5998;
      height: 48px;
      border-radius: 2px;
      color: #ffffff;
    }
    &.google-btn{
      height: 48px;
      border-radius: 2px;
      background-color: #ffffff;
      border: solid 1px #9a9a9a;
    }
  }
}