// Place all the styles related to the papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'Tahoma';
  src: font-url('tahoma/tahoma.eot');
  src: font-url('tahoma/tahoma.eot?iefix') format('eot'),
      font-url('tahoma/tahoma.woff') format('woff'),
      font-url('tahoma/tahoma.ttf') format('truetype');
}

.paper_body{
  .paper_container{
    height: 100%;
    padding-top: 73px;
    width: 100%;
    form{
      font-family: 'Tahoma';
    }
  }
}
.form-horizontal .radio-inline{
  padding-top: 0px;
}

.outline-1{
  outline: 1px solid #fff;
}

.height-100{
  height: 100%;
}

.no-margin-left-right{
  margin-left: 0px;
  margin-right: 0px;
}

p, span{
  line-height: 1.5 !important;
  margin: 0px;
}

p[style], span[style], ul[style], li[style], div[style]{
  font-size: 15.5px !important;
  font-family: Tahoma !important;
}

.accordion-control{
  cursor: pointer;
}

body, html {
  height: 100%;
  font-size: 15px;
  line-height: 1.3;
}

.margin-b-5{
  margin-bottom: 5px;
}

.question-box{
  height: auto;
  margin-top: 20px;
  min-height: 565px;
}

.option-box{
}

.navbar{
  margin-bottom: 0px;
  border-radius: 0 !important;
}

.pagination{
  margin: 10px 0px;
}

label{
  font-weight: normal;
}

.btn{
  border-radius: 0;
}

.form-group{
  margin-bottom: 2px !important;
}

.paper-init-container div.heading-text{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.paper-init-container p{
  margin-bottom: 10px;
  text-align: justify;
}
.paper-init-container ul{
  margin-top: 15px;
}
.paper-init-container ul li{
  margin-bottom: 10px;
}
.paper-init-container ul li:last-child{
  margin-bottom: 15px;
}
.margin-t-15{
  margin-top: 15px;
}
.margin-t-5{
  margin-top: 5px;
}
.margin-b-15{
  margin-bottom: 15px;
}
.margin-b-20{
  margin-bottom: 20px;
}
.margin-r-10{
  margin-right: 10px;
}


.bootbox .modal-content{
  background-color: #66B9BF;
  color: #fff;
  border-radius: 10px;
}
.bootbox .modal-content{
  border-radius: 5px;
}
.bootbox .modal-content .modal-header{
  background-color: #016DAF;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bootbox .modal-content .modal-footer{
  padding-top: 5px;
  padding-bottom: 5px;
}

.bootbox-confirm .modal-footer button {
  float:right;
  margin-left: 10px;
}

.bootbox-confirm .modal-content{
  background-color: #66B9BF;
  color: #fff;
  border-radius: 10px;
}
.bootbox-confirm .modal-content{
  border-radius: 5px;
}
.bootbox-confirm .modal-content .modal-header{
  background-color: #016DAF;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bootbox-confirm .modal-content .modal-footer{
  padding-top: 5px;
  padding-bottom: 5px;
}

html, body{
  min-height: 600px;
}