<div class="row graph-container">
  <div class="graph-heading font-22">
    AVERAGE DIFFICULTY LEVEL
  </div>
  <div class="row">
    <div class="col-sm-3 graph-left">
    </div>
    <div class="col-sm-6 graph-content">
      <div id="average-difficulty-level-graph" style="height: 350px; background-color: transparent;"></div>
    </div>
    <div class="col-sm-3 graph-right">
    </div>
  </div>
</div>