var container = $("#average-difficulty-level-graph")[0];
Highcharts.chart(container, {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Average Difficulty Level'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: [
            'I Set',
            'II Set',
            'III Set',
            'IV Set'
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Difficulty'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Average Difficulty',
        data: JSON.parse('<%= @paper.average_difficulty_level.to_json.html_safe %>')

    }]
});