<div class="row graph-container margin-b-100">
  <div class="graph-heading font-22">
    Your Progress
  </div>
  <div class="row">
    <div class="col-sm-12 graph-content">
      <div id="progress-graph" style="height: 250px; background-color: transparent;"></div>
    </div>
  </div>
</div>