<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="heading-text">
          Access the most advanced platform for GMAT Verbal Test at the price of a cup of coffee.
        </div>
      </div>
    </div>
    <div class="heading-points">
      <ul>
        <li>
          <!--i class="glyphicon glyphicon-ok color-green padding-r-10"></i-->
          <div class="circle-with-text">7 Tests</div>
          <div class="">
            7 computer adaptive verbal tests.
          </div>
        </li>
        <li>
          <!--i class="glyphicon glyphicon-ok color-green padding-r-10"></i-->
          <div class="circle-with-text">Accurate Score</div>
          <div class="">
            Accurate score measurement.
          </div>
        </li>
        <li>
          <!--i class="glyphicon glyphicon-ok color-green padding-r-10"></i-->
          <div class="circle-with-text"><div>Free</div><div>Report</div></div>
          <div class="">
            Detailed score report worth $15 free with every test.
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<%= content_for :footer_content do %>
  <div class="footer">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-8">
        <form class="signup-form">
          <div>
            <label>Email</label>
            <input type="text" name="email" placeholder="Email">
          </div>
          <div>
            <label>Create Password</label>
            <input type="password" name="password" placeholder="Password">
          </div>
          <div>
            <button type="submit" class="btn btn-success">
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>