<%= content_for :main_container_classes do %>home-container <% end %>
<div class="container home-container">
  <div class="row">
    <div class="col-md-8">
      <div class="selling-pitch pull-left">
        <div class="heading">
          <div>Access the most advanced platform</div>
          <div>for GMAT&trade; Verbal Test at the price</div>
          <div>of a cup of coffee.</div>
        </div>
        <ul class="points">
          <li>7 computer adaptive verbal tests.</li>
          <li>Accurate score measurement.</li>
          <li>Detailed score report worth $15 free with every test.</li>
        </ul>
      </div>
      <div class="home-vr hidden-sm hidden-xs"></div>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
      <%= render "users/sessions/signup_container" %>
    </div>
  </div>
</div>