<style type="text/css">
  .main-text{
    font-size: 32px;
    line-height: 1.5;
    color: #fff;
    width: 100%;
  }
  body{
    background-color: #0099CC;
  }
  .panel-default > .panel-heading {
    color: #fff;
    background-color: #0b65b1;
    border-color: #ddd;
  }
  .clear { clear: both; }
</style>
<div class="row">
  <div class="col-sm-8 col-xs-8 col-md-8" style="position: relative; box-shadow: 0px 0px 3px #0099cc;">
    <div class="main-text clear">
      Access the most advanced platform for GMAT verbal test
    </div>
    <div class="main-text clear">
      at the price of a cup of coffee. 
    </div>
    <div style="color: #fff; padding-top: 50px;">
      <ul style="padding-left: 15px;">
        <li style="font-size: 20px !important;">Upto 7 computer adaptive verbal tests.</li>
        <li style="font-size: 20px !important;">Accurate score measurement</li>
        <li style="font-size: 20px !important;">Detailed score report worth 15$ free with every test.</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4 col-xs-4 col-md-4">
    <%= render "users/sessions/new" %>
  </div>
</div>