<div class="row">
  <div class="col-md-6 left-panel col-md-offset-1">
    <div class="main-text clear">
      Access the most advanced platform for GMAT verbal test at the price of a cup of coffee. 
    </div>
    <div>
      <ul>
        <li><i class="glyphicon glyphicon-ok color-green padding-r-5"></i>7 computer adaptive verbal tests.</li>
        <li><i class="glyphicon glyphicon-ok color-green padding-r-5"></i>Accurate score measurement.</li>
        <li><i class="glyphicon glyphicon-ok color-green padding-r-5"></i>Detailed score report worth $15 free with every test.</li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 right-panel">
    <%= render "users/sessions/new" %>
  </div>
</div>